.toolbar {
  position: fixed;
  bottom: 0;
  left: 0;
  border: 0.2em solid black;
  padding: 0.5em;
  background-color: gray;
}

.toolButton {
  width: 9em;
  height: 4em;
  border: 0.2em solid black;
  border-radius: 0.5em;
  font-size: xx-small;
  font-weight: bold;
  color: black;
}

.isGenericTool {
  background-color: cornsilk;
}

.currentTool {
  border: 0.4em dotted black;
}
