.header {
  margin-bottom: 1em;
}

.timeline {
  background-color: #c0c0c0;
  padding: 1em;
}

.concept {
  background-color: #a0a0a0;
  padding: 1em;
}

.timePoint {
  background-color: #808080;
  padding: 1em;
  margin: 1em;
}

.conceptComment {
  font-size: small;
}

.dropArea {
  border: thin dotted white;
}

.dropAccepted {
  border: thin dashed limegreen;
}

.selectable {
  background: transparent;
  border: medium solid transparent;
}

.selectableIsSelected {
  border: medium dashed magenta;
}
